h4 {
  text-align: center;
  padding: 10px;
}

.home {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.example {
  width: 65%;
  border: 1px solid #d4d5d7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}

.demo {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.code {
  text-align: center;
  padding: 10px;
}

.tip,
.dataType {
  background-color: #f4f4f4;
  height: auto;
  text-align: center;
  align-content: center;
}
