h4 {
    text-align: center;
    padding: 10px
}

.home {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.example {
    border: 2px solid gainsboro;
    border-radius: 3px;
    width: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: center
}

.code {
    padding: 20px;
    height: auto;
    text-align: center;
}

.demo > img{
    width: 100%;
    justify-content: center;
}

.demo {
    width: 100%;
    justify-content: center;
}

.demo > div{
    width: 100%;
    justify-content: center;
}
